<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.sass">
  <title>Document</title>
</head>
<body>
<div>
</div>
<p class="top"> <img src="../assets/img/sunset-svgrepo-com.svg" width="50px" alt="" /> LEUMI ONLINE </p>
<div class="main">
  <div class="menu">
    <div>
      <img src="../assets/img/home.svg" alt = "home" >
      <p>Home</p>
    </div>
    <div>
      <img src="../assets/img/bank-svgrepo-com.svg" alt="" >
      <p>Conturi</p>
    </div>
    <div>
      <img src="../assets/img/invoice-svgrepo-com.svg" alt="">
      <p>Plati</p>
    </div>
    <div>
      <img src="../assets/img/exchange-svgrepo-com.svg" alt=" ">
      <p>Schimburi</p>
    </div>
    <div>
      <img src="../assets/img/loan-interest-time-value-of-money-effective-svgrepo-com.svg" alt="" >
      <p>Credite</p>
    </div>
    <div>
      <img src="../assets/img/safebox-svgrepo-com.svg" alt="" >
      <p>Depozitare</p>
    </div>
    <div>
      <img src="../assets/img/bank-card-svgrepo-com.svg" alt="" >
      <p>Carduri</p>
    </div>
    <div>
      <img src="../assets/img/service-svgrepo-com.svg" alt="" >
      <p>Produse si servicii</p>
    </div>
    <div>
      <img src="../assets/img/settings-svgrepo-com.svg" alt="" >
      <p>Setari</p>
    </div>
  </div>


  <div class="container">
    <div class="container-top">

      <div class="alimenteaza main-button" >
        <h4>Alimenteaza card</h4>
      </div>
      <div class="plata main-button">
        <h4>Plata noua</h4>
      </div>
      <div class="sablon main-button">
        <h4>Foloseste sablon</h4>
      </div>
    </div>
    <div class="container2">
      <div class="cont  second-gap">
        <h3><small>Conturi curente</small></h3>
        <h2 class="bani">10 560<span class="ron">RON</span></h2>
        <div class="arrow">
          <img src="../assets/img/arrow.svg" alt="">
        </div>
      </div>

      <div class="economii  second-gap">
        <h3><small>Economii</small></h3>
        <p>Nu aveti conturi de economii</p>
        <p class="cont"> Deschide cont</p>
        <div class="arrow">
          <img src="../assets/img/arrow.svg" alt="">
        </div>
      </div>
      <div class="deposite  second-gap">
        <h3><small>Deposite</small></h3>
        <p>Nu aveti depozite active</p>
        <p class="cont">Deschide depozit</p>
        <div class="arrow">
          <img src="../assets/img/arrow.svg" alt="" />
        </div>
      </div>
      <div class="down-container">
        <p>Credite/Debit</p>
      </div>
      <div class="last">
        <p>View all</p>
         </div>
        </div>
      </div>
    </div>
  </body>
</html>
